@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

body, html {
  padding: 0;
  margin: 0;
}

#app {
  padding: 20px 20px;
  background: $white;
  height: 500px;
  width: 500px;
  overflow-y: scroll;
}
